body {
  color: white;
}
.form {
  background-color: rgb(32, 32, 32);
  margin: 150px auto;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 30px;
  max-width: 700px;
}
.title {
  text-align: center;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.input-field {
  padding: 10px 20px;
}
input {
  padding: 30px 40px;
  border-radius: 25px;
  margin: 10px 20px;
}

.button {
  padding: 20px 30px;
  border-radius: 25px;
  color: white;
  background-color: black;
  border: 2px solid white;
  margin: 10px 15px;
}
